.home-task-1 h1 {
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0;
}

.home-api-task {
  background-color: white;
  max-width: 1440px;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border: solid black 3px;
  border-radius: 1rem;
  box-shadow: 16px 16px 0px rgba(0, 0, 0);
}

.home-api-task__title {
  text-align: center;
  margin-bottom: 2rem;
}

.home-form-task {
  background-color: white;
  max-width: 1440px;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border: solid black 3px;
  border-radius: 1rem;
  box-shadow: 16px 16px 0px rgba(0, 0, 0);
}

.home-form-task__title {
  text-align: center;
  margin-bottom: 2rem;
}
